<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <nav>
    <div class="navContainer">

      <ul class="topNav">
        <li><a href="/" class="row">Home</a></li>
        <li><a href="/create" class="row">Create</a></li>
        <li><a href="/about" class="row">About</a></li>
      </ul>
      
      <form class="topNav searchBar" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

    </div>
  </nav>
    
  </header>