
<aside>
    
    <ul id="sideBar">
        <li>
            <a class="sideBarLinks" href="/">Educational</a>
        </li>
        <li>
            <a class="sideBarLinks" href="food">Food</a>
        </li>
        
        <li>
            <a class="sideBarLinks" href="fitness">Fitness</a>
        </li>
        <li>
            <a class="sideBarLinks" href="sports">Sports</a>
        </li>
    </ul>
    
</aside>