body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(217deg, rgb(164, 211, 251),white, rgb(151, 206, 254));
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#displayContainer{
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

/*Top navigation bar*/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: aliceblue;
}


/*Nav Bar*/
.row:hover{
    border-bottom: 3px solid rgb(168, 236, 255);
}

.navContainer{
    height: 4.2em;
    display: flex;
    background-color: black;
}

.topNav{
    display: flex;
    flex-direction: row;
}

.topNav>li{
    font-size: 1.25em;
}

.row{
    flex-direction: row;
    padding: 1em;
    color: rgb(94, 134, 169);
}

.searchBar{
    border:none;
    outline: none;
    margin: 0;
    position: absolute;
    padding: 1em;
    right: 1em;
    height: 2em;
}
.searchBar>input{
    font-size: 1.25em;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    padding-left: 1em;
}

/*side navigation bar*/
aside{
    min-height: calc(100vh - 4.2em);
    height: auto;
    
    background-color: rgb(0, 43, 70);
}
 #sideBar{

    margin: 0;
    padding: 3em;
    width: 15em;
}

#sideBar>li{
    font-size: 1.4em;
    color: rgb(179, 245, 244);
    padding: 0.5em;
}

.sideBarLinks{
    color: rgb(127, 195, 255);
}

/*footer*/

footer{

    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 199, 230);
    text-align: center;
    margin: 0;
    margin-bottom: auto;
}


/*main Content goes here*/

#mainContent{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2em;

}

#blueCircle{
    position: absolute;
    z-index: -1;
    top: 0em;
    right: 0em;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: aquamarine;
}

#mainContent>h1{
    color: rgb(5, 65, 91);
    font-size: 3em;
}

#blogCards{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
}

.card{
    min-height: 12em;
    width: 20em;
    padding: 1em;
    border-radius: 8px;
    background-color: black;
    z-index: 49;
}

.card>h3{
    color: rgb(187, 216, 241);
}

.description{
    height: 6em;
    color: white;
}

.author{
    font-size: 0.8em;
    color: white;
    font-style: italic;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.card>button{
    border: none;
    background-color: rgb(31, 41, 50);
    border-radius: 5px;
    height: 2em;
}

.card>button>a{
    color: white;
}

.card>button>a:hover{
    color: lightblue;
}

.card>img{
    overflow: auto;
    height: 9em;
    width: 100%;
    
}

/*Create blog*/
.createContainer{
    background-color: rgb(210, 209, 209);
    width: 80em;
    border-radius: 10px;
    margin: 2em auto;
    margin-bottom: 4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

#createDiv1, #createDiv2, #createDiv3, #createDiv4, #createDiv5{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding: 0;
    margin: 0.5em;
}

select{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    padding: 0.2em;
    border-radius: 5px;
    font-size: 0.8em;
}

input{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;   
    border: none;
    padding: 0.2em;
    border-radius: 5px;
    font-size: 0.8em;
}

textarea{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;   
    border: none;
    padding: 0.2em;
    border-radius: 5px;
    font-size: 0.8em;   
}

input[type="submit"] {
    background-color: rgb(156, 155, 155);
    color: aliceblue;
}

input[type="submit"]:hover {
    background-color: rgb(106, 105, 105);
    color: white;
}

#blogPage{
    font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
}

